*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }